<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>uk.thomast.myle.passwords</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>uk.thomast.myle.passwords</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>To read a website's 2FA QR code.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>To open your password vault with Face ID.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app-icon-dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>glass</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app-icon-glass</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app-icon-light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>tinted</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app-icon-tinted</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
